.container.contact__container{
    width: 75%;
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 10%;
    margin-bottom: 4rem;

}
.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option{
    background: var(--color-bg-varient);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}


.contact__option:hover{
    background: transparent;
    border-color: var(--color-primary-varient);
}
.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.contact__option-icon a{
  margin-top: .7rem;
  display: inline-block;
  font-size: .8rem;
}

/* ============FORM================= */

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input,textarea{
    width: 100%;
    padding: 1.2rem;
    background: transparent;
    border: 2px solid var(--color-primary-varient);
    resize: none;
    color: var(--color-white);
    border-radius: .4rem;
}

/* ===================MEDIA QURIES (MEDIUM DEVICES)======== */
@media screen and (max-width:1024px) {
    .container.contact__container{
        width: 80%;
        grid-template-columns:  1fr;
        margin-bottom: 7rem;
    }
}

/* ===================MEDIA QURIES (SMALL DEVICES)======== */
@media screen and (max-width:600px) {
    .container.contact__container{
        width: 90%;
    }
}